<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>個人賬號--avalon</title>

		<link rel="stylesheet" href="css/style_personalAcount.css">
		<link rel="shortcut icon" href="img/logo-white.ico" />
	</head>

	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false" οncοpy="return false">
		<script src="js/jquery-3.5.1.js"></script>

		<script src="js/jquery.cookie.js"></script>
		<script type="text/javascript" src="js/printLOGO.js"></script>
		<!-- 登陆网站更改头像用户名等... -->

		<script type="text/javascript" src="js/loginChange.js"></script>
		
		<script>
			
			$("#element").ready(function() {  //等待載入完成
			
			//开始只显示info box
				$(".box").each(function(){
					//console.log($(this).attr('id'));
					if($(this).attr('id') == "info"){
						$(this).show();
					}else{
						$(this).hide();
					}
				})
			
				$(".click").click(function(){
					//console.log($(this).attr('id'));
					var id = $(this).attr('id');
					$(".box").each(function(){
						//console.log($(this).attr('id'));
						if($(this).attr('id') == id){
							$(this).show(500);
						}else{
							$(this).hide(500);
						}
					})
					
					//console.log($(".body").find("#info").attr("class"));
					
				});
				
				$("img").click(function(){
					//console.log($(this).attr('id'));
					var id = $(this).attr('id');
					if(id == "ilearn_pwd_action"){
						
						if($(this).attr('class') == "invisible" ){
							$(this).attr('src', "img/visible.svg");
							
							$(this).addClass("visible"); 
							$(this).removeClass("invisible");
							
							
							$("#ilearn_pwd").attr("type" , "text");
							//console.log("invisible");
						}else{
							$(this).attr('src', "img/invisible.svg");
							
							$(this).removeClass("visible");
							$(this).addClass("invisible"); 
							
							$("#ilearn_pwd").attr("type" , "password");
							//console.log("visible");
						}
					}
					
					if(id == "new_pwd_action"){
						
						if($(this).attr('class') == "invisible" ){
							$(this).attr('src', "img/visible.svg");
							
							$(this).addClass("visible"); 
							$(this).removeClass("invisible");
							
							
							$("#new_pwd").attr("type" , "text");
							//console.log("invisible");
						}else{
							$(this).attr('src', "img/invisible.svg");
							
							$(this).removeClass("visible");
							$(this).addClass("invisible"); 
							
							$("#new_pwd").attr("type" , "password");
							//console.log("visible");
						}
						
					}
					
				});
			});
					
					
			
		</script>
		<!-- 頭部 -->
		<div class="header">
			<img src="img/logo%20黑白.png" alt="" onclick="window.open(index.jsp)" />



			<img class="user_head" src="img/用户.svg" alt="" onclick="" />

			<p class="user_name" onclick="">
				<% out.print(name); %>
			</p>
		</div>


		<div class="nav-list">
			<ul>
				<li  class="click" id="info"><a>基本信息</a></li>
				<li  class="click" id="safe"><a>賬號安全</a></li>
				<li  class="click" id="other"><a>其他選項</a></li>

			</ul>

		</div>
		
		
		<div class="body">
			
			<div class="box" style="z-index: 10;" id="info"> 
				
				<div class="img">
					
					<img src="img/abaaba.jpg" style="z-index: 11;"/>
					<!-- 更換圖片 從數據庫讀取！！ -->
					<div style="z-index: 12;" class="cover"> 點擊更換頭像 </div>
					
				</div>
				
				<p> 暱稱 ： <input type="text" disabled="" value="<% out.print(name); %>" ></input></p>
				<p> 姓名 ： <input type="text" disabled="" value="<% out.print(real_name); %>" ></input></p>
				<p> 年級 ： <input type="text" disabled="" value="<% out.print(grade); %>" ></input></p>
				<p> 學生號碼 ： <input type="text" disabled="" value="<% out.print(number); %>" ></input></p>
				<p> 系級 ： <input type="text" disabled="" value="<% out.print(department); %>" ></input></p>
				
				<button>編輯</button>
				<button>提交</button>
				
			</div>
			
			<div class="box" style="z-index: 20;" id="safe">
				<h3> 賬號綁定 </h3>
				
				
				<p></p>
				<p></p>
				
				
				<h4> Ilearn </h4>
				<p> 賬號 ： <input type="text" disabled="" value="<% out.print(ilearn_acc); %>s"></input></p>
				<p> 密碼 ： 
					<input id="ilearn_pwd" type="password" disabled="" value="<% out.print(ilearn_pwd); %>" maxlength="24"/>
					<img class="invisible" id="ilearn_pwd_action" src="img/invisible.svg">
				</p>
				
				
				<p></p>
				<p></p>
				
				
				<h4> 新版教學平台 </h4>
				<p> 賬號 ： <input type="text" disabled="" value="<% out.print(new_acc); %>" ></input></p>
				<p> 密碼 ： 
					<input id="new_pwd" type="password" disabled="" value="<% out.print(new_pwd); %>" maxlength="24"/>
					<img class="invisible" id="new_pwd_action" src="img/invisible.svg">

				</p>
				
				
				<button>編輯</button>
				<button>提交</button>
			
			</div>
			
			<div class="box" style="z-index: 30;" id="other">
				
				<button onclick="logOut()">退出当前账号</button>

				
				<div class="innerbox">
					<p>慎重選擇</p>
					<button>註銷賬戶</button>
				</div>
			</div>
			
			<img src="img/spec.png" id="spec" />
		</div>

	</body>

</html>
